@import "~themes/index.less";
.pannelTitle {
  height: 78px;
  background: #fff;
  line-height: 78px;
  font-size: 18px;
  color: #42486f;
  border-bottom: 1px solid #efefef;
  padding-left: 22px;
  display: flex;

  .link1 {
    padding: 0px 0px 0px 650px;
  }

  .link2 {
    padding: 0px 0px 0px 20px;

  }
}

.accountForm {
  padding: 50px 0 90px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  .widthAuto {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .americaSite {
    width: 50%;
    margin: 0 auto;
  }
}

.tabBarStyle {
  color: yellow;
}

.getTipAnchor {
  color: #3d95dd;
  text-decoration: underline;
}

.btnBgColor {
  background: @purple;
  border-color: @purple;
  margin-top: 25px;
}

.commonRow {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.returnAnchor {
  font-size: 14px;
  color: #999;
  margin-left: 10px;
}

.enterprise {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid #eceff2;
  .enterpriseTitle {
    font-size: 16px;
    color: @color-title;
  }
  .spectialTips {
    margin: 0 auto;
    font-size: 14px;
    color: #627288;
  }
}

.artificialInfo {
  margin-top: 10px;
  height: 332px;
  .artificialTitle {
    font-size: 16px;
    color: @color-title;
    padding-left: 20px;
    height: 48px;
    line-height: 48px;
    background: #fff;
    border-bottom: 1px solid #efefef;
    margin-bottom: 30px;
  }
}

.transaction {
  font-family: monospace;
  margin-top: 24px;
  margin-bottom: 24px;
}


.numberCard {
  padding: 32px;
  font-family: monospace;
  cursor: pointer;


  .iconWarp {
    font-size: 54px;
    float: left;
  }

  .content {
    width: 100%;
    padding-left: 78px;

    .title {
      line-height: 20px;
      font-size: 20px;
      margin-bottom: 12px;
      height: 20px;
      display: flex;
      .text-overflow();

      p {
        color: #757575;

        &:first-child {
          font-size: 18px;
          padding-right: 10px;
        }

        &:last-child {
          font-size: 20px;
          font-weight: 700;
        }
      }
    }

    .icon {
      padding-right: 5px;
      line-height: 16px;
      font-size: 16px;
      height: 16px;
    }
  }
}

