@import "../vars.less";

.numberCard {
  padding: 32px;
  font-family: monospace;
  margin-bottom: 24px;
  cursor: pointer;


  .iconWarp {
    font-size: 54px;
    float: left;
  }

  .content {
    width: 100%;
    padding-left: 78px;

    .title {
      line-height: 16px;
      font-size: 16px;
      margin-bottom: 8px;
      height: 16px;
      .text-overflow();
    }

    .number {
      line-height: 32px;
      font-size: 24px;
      height: 32px;
      .text-overflow();
    }
  }
}
