@import "~themes/default.less";
.pannelTitle {
    height: 78px;
    background: #fff;
    line-height: 78px;
    font-size: 18px;
    color: #42486f;
    border-bottom: 1px solid #efefef;
    padding-left: 20px;
    border-radius: @border-radius-base;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
}

.accountForm {
    padding: 50px 0 90px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    .widthAuto {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .americaSite {
        width: 50%;
        margin: 0 auto;
    }
    .subTips {
        font-size: 10px;
        color: @color-title;
        line-height: 1;
        display: block;
        margin-top: 10px;
    }
}

.boxShadowBottom {
    box-shadow: 0 8px 28px -11px rgba(89, 88, 88, 0.28);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #fff;
}

.boxShadowTop {
    box-shadow: 0 -8px 28px -11px rgba(89, 88, 88, 0.28);
    margin-top: 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #fff;
}

.shareholdersForm {
    padding: 30px 0 90px 0;
}

.tabBarStyle {
    color: yellow;
}

.getTipAnchor {
    color: #3d95dd;
    text-decoration: underline;
}

.btnBgColor {
    background: @purple;
    border-color: @purple;
    margin-top: 25px;
}

.commonRow {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.returnAnchor {
    font-size: 14px;
    color: #999;
    margin-left: 10px;
    cursor: pointer;
}

.enterprise {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid #eceff2;
    background: @bg-color;
    .enterpriseTitle {
        font-size: 16px;
        color: @color-title;
    }
    .spectialTips {
        margin: 0 auto;
        font-size: 14px;
        color: #627288;
    }
}

.artificialInfo {
    margin-top: 10px;
    height: 332px;
    .artificialTitle {
        font-size: 16px;
        color: @color-title;
        padding-left: 20px;
        height: 48px;
        line-height: 48px;
        background: #fff;
        border-bottom: 1px solid #efefef;
        margin-bottom: 30px;
    }
}

.tableTitle {
    padding: 10px 25px;
    font-size: 16px;
    margin: 0;
    color: @color-title;
}

.easywebTable {
    padding: 0 25px;
    thead th {
        font-size: 14px;
        color: @color-title;
        &:first-child,
        &:last-child {
            text-align: left;
            padding-left: 0;
        }
    }
    tbody tr {
        color: @table-cell-color;
        font-size: 14px;
        td {
            &:first-child,
            &:last-child {
                text-align: left;
                padding-left: 0;
            }
            &:last-child {
                width: 180px;
                div {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
    .statusSuccess {
        color: @color-success;
    }
    .statusFailure {
        color: @color-failure;
    }
    .statusChecking {
        color: @color-checking
    }
    .tipsIcon {
        width: 20px;
        height: 20px;
        display: inline-block;
        border: 1px solid #999;
        border-radius: 4px;
        text-align: center;
        color: @purple;
        cursor: pointer;
    }
}

.tipsWraper {
    margin: 0;
    width: 80px;
    line-height: 32px;
    p {
        margin: 0;
        &:first-child {
            border-bottom: 1px solid @border-color-base;
        }
    }
}