@import "~themes/vars";
.header {
    border-radius: @border-radius-base;
    margin: 15px 22px;
     :global .ant-menu-horizontal {
        &>.ant-menu-submenu {
            float: right;
        }
        border: none;
        display: inline-block;
    }
    box-shadow: @shadow-1; // box-shadow: @shadow-2;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 30px;
    background-color: #fff;
    z-index: 999;
    .headerLeft {
        display: flex;
        align-items: center;
        color: #999;
        font-size: 12px;
        .bankCars{
            margin: 5px 10px;
            height: 22px;
            line-height: 22px;
        }
    }
    .rightWarpper {
        display: flex;
        padding-right: 16px;
        align-items: center;
    }
    .button {
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 18px;
        cursor: pointer;
        transition: @transition-ease-in;
        &:hover {
            color: @primary-color;
            background-color: fade(@primary-color, 15%);
        }
    }
}

.popovermenu {
    width: 280px;
    margin-left: 6px;
     :global .ant-popover-inner-content {
        padding: 0;
        .ant-menu-inline .ant-menu-item,
        .ant-menu-vertical .ant-menu-item {
            border-right: 0;
            height: 30px;
            line-height: 30px;
        }
        .ant-menu-inline .ant-menu-item-selected,
        .ant-menu-inline .ant-menu-selected {
            border-right: 0;
        }
    }
}