@import "~themes/index.less";
.pannelTitle {
  height: 78px;
  background: #fff;
  line-height: 78px;
  font-size: 18px;
  color: #42486f;
  border-bottom: 1px solid #efefef;
  padding-left: 20px;
  display: flex;

  .link1 {
    padding: 0px 0px 0px 650px;
  }

  .link2 {
    padding: 0px 0px 0px 20px;

  }
}

.accountForm {
  padding: 50px 0 90px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background: @bg-color;
  .widthAuto {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .withdrawSite {
    width: 100%;
    margin: 0 auto;
  }
  .enterpriseInfo,
  .artificialInfo {
    background: @bg-color;
  }
  .subTips {
    font-size: 10px;
    color: @color-title;
    line-height: 1;
    display: block;
    margin-top: 10px;
  }
}

.tabBarStyle {
  color: yellow;
}

.getTipAnchor {
  color: #3d95dd;
  text-decoration: underline;
}

.btnBgColor {
  background: @purple;
  border-color: @purple;
  margin-top: 25px;
}

.commonRow {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.returnAnchor {
  font-size: 14px;
  color: #999;
  margin-left: 10px;
  cursor: pointer;
}


.transaction {
  font-family: monospace;
  margin-top: 24px;
  margin-bottom: 24px;
}


.mode {

  margin: 0 auto;
  display: flex;
  text-align: right;

}

