// 本文件是对 ant-design:
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
// 相应变量值的覆盖
// 注意：只需写出要覆盖的变量即可（不需要覆盖的变量不要写）
// http://www.iconfont.cn/collections/detail?cid=790
@import "../../node_modules/antd/lib/style/themes/default.less";
@border-radius-base: 3px;
@border-radius-sm: 2px;
@shadow-color: rgb(89,88,88);
@color-title:#42486f;
@shadow-1-down: 1px 1px 28px @shadow-color;
@border-color-split: #f4f4f4;
@border-color-base: #e5e5e5;
@menu-dark-bg: #3e3e3e;
@text-color: @color-title;
@font-family: "AvenirNext-Regular", "Helvetica Neue", "lucida grande", "PingFangHK-Light", "STHeiti", "Heiti SC", "Hiragino Sans GB", "Microsoft JhengHei", "Microsoft Yahei", SimHei, "WenQuanYi Micro Hei", "Droid Sans", "Roboto", Helvetica, Tahoma, Arial, "sans-serif";
@icon-url: "/antd/iconfont";
@purple:#6875e2;
@border-color: #c7c9d2;
@bg-color:#f6f9fc;
@body-color:#f1f5f9;
@shadow-bottom:  0 8px 28px -11px rgba(89, 88, 88, 0.28);
@shadow-top:  0 -8px 28px 11px rgba(89, 88, 88, 0.28);
@table-cell-color:#627288;
@color-success: #47be82;
@color-failure:#ec6b40;
@color-checking: #999;
