@import "~themes/vars";
html {
    -webkit-text-size-adjust: auto;
}

body {
    height: 100%;
    overflow-y: hidden;
    background-color: @body-color;
}

::-webkit-scrollbar-thumb {
    background-color: #e6e6e6;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

:global {
    .ant-breadcrumb {
        &>span {
            &:last-child {
                color: #999;
                font-weight: normal;
            }
        }
    }
    .ant-breadcrumb-link {
        .anticon+span {
            margin-left: 4px;
        }
    }
    .ant-table {
        .ant-table-thead>tr>th {
            text-align: center;
        }
        .ant-table-tbody>tr>td {
            text-align: center;
        }
        &.ant-table-small {
            .ant-table-thead>tr>th {
                background: #f7f7f7;
            }
            .ant-table-body>table {
                padding: 0;
            }
        }
    }
    /**
    ** 自定义样式覆盖
    ** time: 2017/09/26
    ** author: pm
    ** 
    **/
    // start
    .main .container {
        background: @bg-color;
    }
    #root {
        max-width: 1200px;
        margin: 0 auto;
        .layout {
            background: @body-color;
            .sider {
                background: @body-color;
            }
        }
        
        .ant-menu-dark {
            background: @body-color;
            a{
                &:hover{
                    color:@purple;
                    text-decoration: none;
                }
            }
            .ant-menu-item-selected>a{
                color:@purple;

            }
        }
        .ant-menu-dark.ant-menu-inline .ant-menu-item-selected {
            background: @body-color;
            color: @color-title;
        }
    }
    .ant-btn-primary {
        background: @purple;
        border-color: @purple;
        color: #fff;
        font-size: 18px;
        height: 36px;
        line-height: 36px;
        min-width: 100px;
        &:hover {
            background: @color-title;
            border-color: @color-title;
        }
    }
    .ant-tabs-nav-container {
        height: 36px !important;
    }
    #root .ant-tabs-card {
        .ant-tabs-bar {
            border-bottom: 0;
            margin-bottom: 40px;
            .ant-tabs-tab {
                height: 36px;
                line-height: 36px;
                margin-right: 40px;
                font-size: 14px;
                color: #9ea7b3;
                border: 1px solid #c7c9d2;
                background: #fafafd;
                border-radius: 4px;
                padding: 0;
                width: 120px;
                box-sizing: border-box;
                text-align: center;
                &.ant-tabs-tab-active {
                    background: @purple;
                    color: #fff;
                }
            }
        }
        .ant-form-item-label label {
            color: @color-title;
        }
    } // end
    .ant-table-pagination {
        float: none!important;
        display: table;
        margin: 16px auto !important;
    }
    .ant-popover-inner {
        border: none;
        border-radius: 0;
        box-shadow: 0 0 20px rgba(100, 100, 100, 0.2);
    }
    .vertical-center-modal {
        display: flex;
        align-items: center;
        justify-content: center;
        .ant-modal {
            top: 0;
            .ant-modal-body {
                max-height: 80vh;
                overflow-y: auto;
            }
        }
    }
    .ant-form-item-control {
        vertical-align: middle;
    }
    .ant-modal-mask {
        background-color: rgba(55, 55, 55, 0.2);
    }
    .ant-modal-content {
        box-shadow: none;
    }
    .ant-select-dropdown-menu-item {
        padding: 12px 16px !important;
    }
    .margin-right {
        margin-right: 16px;
    }
    a:focus {
        text-decoration: none;
    }
}

@media (min-width: 1600px) {
     :global {
        .ant-col-xl-48 {
            width: 20%;
        }
        .ant-col-xl-96 {
            width: 40%;
        }
    }
}

@media (max-width: 767px) {
     :global {
        .ant-pagination-item,
        .ant-pagination-next,
        .ant-pagination-options,
        .ant-pagination-prev {
            margin-bottom: 8px;
        }
        .ant-card {
            .ant-card-head {
                padding: 0 12px;
            }
            .ant-card-body {
                padding: 12px;
            }
        }
    }
}