@import "~themes/default"; // antd-admin
@dark-half: #494949;
@purple: #d897eb;
@shadow-1: 1px 1px 28px rgba(89, 88, 88, 0.28);
@shadow-2: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
@transition-ease-in: all 0.3s ease-out;
@transition-ease-out: all 0.3s ease-out;
@ease-in: ease-in;
.text-overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}